body {
   background-color: rgb(236, 218, 170);
}
header{
   color: #e2c880; 
   font-size: 67px;
   background-color: rgb(255, 241, 220);

}
.yt{
    width: 100px;
    height: 100px;
    text-align:right;
    
}
.qq{
    display: flex;
}
h2{
    color: #b09e6c;
    text-align: center;
    font-size:70px ;
    font-family:'Lucida Sans', Arial, sans-serif;
}

.product {
    width: 140px;
    height: 150px;
     text-align: center;
    padding: 10px;
    border: 5px double rgb(148, 114, 50);
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: rgb(251, 227, 187);
}


.catalog a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black;
    font-size: 20px;
}
footer {
   background-image:linear-gradient(to right, #b99862, #e5e5bf, #b99862);
    color: rgb(88, 80, 56);
    padding: 10px;
    font-size: 30px;
}
.catalog{
       display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 30px;
   
}
